{% load i18n %}
<style>
  /* Sidebar Links Default Style */
  .list-group-item {
    color: #370808 !important; /* Normal text color */
    font-weight: 500;
    transition: all 0.2s ease;
    border-color: #f0f0f0;
  }

  /* Hover Effect */
  .list-group-item:hover {
    color: #481616 !important; /* Theme Burgundy color on hover */
    background-color: #fcf5f5 !important;
    padding-left: 24px; /* Slight slide animation */
  }

  /* Active Menu Item  */
  .list-group-item.active {
    background-color: #481616 !important;
    border-color: #481616 !important;
    color: #ffffff !important;
    font-weight: 600;
  }
</style>
<aside class="col-md-3" {% if request.LANGUAGE_CODE == 'ar' %}dir="rtl" style="text-align: right;"{% endif %}>
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item {%if '/Accounts/' == request.path %}active{% endif %}" href="{% url 'dashboard' %}"> {% trans "Dashboard" %} </a>
			<a class="list-group-item {% if '/my_orders/' in request.path %}active{% endif %}" href="{% url 'my_orders' %}"> {% trans "My Orders" %} </a>
			<a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}" href="{% url 'edit_profile' %}"> {% trans "Edit Profile" %} </a>
			<a class="list-group-item {% if '/Change_Password/' in request.path %}active{% endif %}" href="{% url 'Change_Password' %}"> {% trans "Change Password" %} </a>
			<a class="list-group-item {% if '/track_order/' in request.path %}active{% endif %}" href="{% url 'track_order' %}"> {% trans "Track Order" %} </a>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">{% trans "Log out" %}</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>